.fundo_quarta{
    height: 100vh;
    background: linear-gradient(rgb(255, 94, 0), rgb(235, 175, 47));
}

.logo_quarta{
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items:center ;
}

.resto_quarta{
    display: flex;
    justify-content: center;
    align-items:center ;
    flex-direction: column;
}

.title_quarta{
    font-size: 1.5em;
    margin-top:2em;
    margin-left: 2em;
}

.imagem_principal_quarta{
    height:8em;
    margin-left: 0em;
    margin-bottom: 2em;
    margin-top: 3em;
}

.subtitle_terceira{
    font-size: 2.5em;
    padding: 0 12em;
    text-align: center;
    margin-top: 1em;
}

.dia_mes_ano{
    display: flex;
    justify-content: center;
    align-items:center ;
    text-align: center;
    gap: 3em;
}

#dia{
    border-radius: 2em;
    padding: 2em 2.5em 2em 2.5em;
    background-color: black;
    border-color: black ;
    color: white;
    text-align: center;
}

#mes{
    border-radius: 2em;
    padding: 2em 1em 2em 1em ;
    background-color: black;
    border-color: black ;
    color: white;
    text-align: center;
}

#ano{
    border-radius: 2em;
    padding: 2em 2em 2em 2em;
    background-color: black;
    border-color: black ;
    color: white;
    text-align: center;
}

.area{
    display: flex;
    justify-content: center;
    align-items:center ;   
}

#area_trabalho{
    margin-top: 3em;
    padding: 1em 2em 1em 2em;
    border-radius: 1em;
    text-align: center;
    background-color: black;
    border-color: black;
    color: white;
}

#genero{
    margin-top: 2em;
    padding: 1em 3em 1em 3em ;
    border-radius: 1em;
    text-align: center;
    background-color: black;
    border-color: black;
    color: white;
}

#termos{
    margin-right: 30em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 31em;
    margin-top: 1em;
    border-color: transparent;
}

#entrar{
    text-decoration: none;
    text-align: center;
    width: 20em;
    padding: 0.9em;
    border-radius: 0.5em;
    margin: 1em;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
    border-color: transparent;
    font-size: 1.2em;
    cursor: pointer;
    background-color: rgb(255, 94, 0);
    margin-left: 25em;
    transition: transform 0.2s;
    color:rgb(255, 255, 255);
    position: absolute;
}

#entrar:hover{
    transform:scale(1.2);
}
