.fundo_materias{
    height: 100vh;
    background: linear-gradient(rgb(0, 181, 253), rgb(0, 255, 157));
}

.logo_materias{
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items:center ;
}

.title_materias{
    font-size: 0.7em;
    margin-top:2em;
    margin-left: 2em;
}

.imagem_principal_materias{
    height:5em;
    margin-left: 70em;
    margin-bottom: 2em;
    margin-top: 2em;
}

.entrar_materias{
    text-decoration: none;
    text-align: center;
    width: 20em;
    padding: 0.8em;
    border-radius: 0.5em;
    background-color: rgb(255, 94, 0);
    margin: 4em;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
    border-color: transparent;
    font-size: 1.2em;
    cursor: pointer;
    transition: transform 0.2s;
    color:rgb(255, 255, 255);
}

.entrar_materias:hover{
    transform:scale(1.05);
}

.buttonss{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-left: 16em;
    background-color: rgba(43, 46, 44, 0.308);
    border-radius: 1em;
    width: 12em;
    height: 3em;
    font-size: 2em;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

#mec{
    margin-bottom: 2em;
    margin-top: 2em;
    transition: transform 0.5s;
}

#mec:hover{
    transform:scale(1.5);
}

#ali{
    margin-bottom: 2em;
    transition: transform 0.5s;
}

#ali:hover{
    transform:scale(1.5);
}

#seg{
    transition: transform 0.5s;
}

#seg:hover{
    transform:scale(1.5);
}

#icone_mec{
    font-size: 4em;
    position:absolute ;
    margin-left: 4em;
    margin-top: 0em;
}

#icone_ali{
    font-size: 4em;
    position:absolute ;
    margin-left: 4em;
    margin-top: 0em; 
}

#icone_seg{
    font-size: 4em;
    position:absolute ;
    margin-left: 4em;
    margin-top: 0em;  
}

.escolha{
    margin-top: -2.5em;
    margin-bottom: 3.5em;
    font-size:2em ;
    margin-left: 1em;
}
